In [22]:
from IPython.display import display
import matplotlib.pyplot as plt
from sklearn import metrics

import json
import os
import pandas as pd

from util import gen_model_preds_df

groups_s = json.load(open("SWDA_dialogue-acts-groups.json"))
groups_a = json.load(open("AMI-DA_dialogue-acts-groups.json"))

def report_metrics(frames, conditions, group=False):
    metric_funcs = [
        lambda x,y: metrics.precision_score(x,y,average='macro'), 
        lambda x,y: metrics.recall_score(x,y,average='macro'), 
        lambda x,y: metrics.f1_score(x,y,average='macro'),
        lambda x,y: metrics.precision_score(x,y,average='micro')]
    metric_names = [
        'macro precision',
        'macro recall',
        'macro f1',
        'micro accuracy']
    if not group:
        table = [[
            metric(df['da_tag'], df[cond])
                for df in frames]
                for cond in conditions for metric in metric_funcs]
    else:
        table = [[
            metric([groups[ix][dat] for dat in df['da_tag']], 
                   [groups[ix][dat] for dat in df[cond]])
                for ix,df in enumerate(frames)]
                for cond in conditions for metric in metric_funcs for g in groups] 
    
    multiindex = [[c for c in conditions for m in metric_names],
        [m for c in conditions for m in metric_names]]
    return pd.DataFrame(table, columns=['SWBD', 'AMI'], index=multiindex)

conditions = ['NL_bert', 'L_bert', 'NL_cnn', 'L_cnn']

model_dirs = [f'/home/xnobwi/DistributionalDiscourse/models/SWDA-{c}_2019-11-20/' for c in conditions]
dfs = gen_model_preds_df('SWDA', conditions, model_dirs, group=False)
display(dfs.head(10))

model_dirs = [f'../../models/AMI-DA-{c}_2019-11-20/' for c in conditions]
dfa = gen_model_preds_df('AMI-DA', conditions, model_dirs, group=False)
display(dfa.head(10))
dfa = dfa[dfa['da_tag'].notnull()]

2 /home/xnobwi/DistributionalDiscourse/models/SWDA-NL_bert_2019-11-20/
2 /home/xnobwi/DistributionalDiscourse/models/SWDA-L_bert_2019-11-20/
7 /home/xnobwi/DistributionalDiscourse/models/SWDA-NL_cnn_2019-11-20/
8 /home/xnobwi/DistributionalDiscourse/models/SWDA-L_cnn_2019-11-20/

                   speaker                                                utt  \
dialogue_id utt_no
sw2608      0            A                                             Okay .
            1            B                          Do you want to go first ?
            2            A                                 You can go first ,
            3            A                                        or I will .
            4            B                              Well , you go ahead .
            5            A                                             Okay .
            6            A  Well , I'm going to tell you what I'd have <la...
            7            B                                       <laughter> .
            8            A      Down in the south , we have a lot of shrimp ,
            9            B                                           # Oh , #

                             da_tag          NL_bert           L_bert  \
dialogue_id utt_no
sw2608      0       fo_o_fw_"_by_bc  fo_o_fw_"_by_bc  fo_o_fw_"_by_bc
            1                    qy               qy               qy
            2              oo_co_cc               ad               sd
            3              oo_co_cc               sd               sd
            4                    ad               ad               ad
            5                    aa                b               bk
            6                    sd               ^h               sd
            7                     x               sd                x
            8                    sd               sd               sd
            9                     b                b                b

                             NL_cnn            L_cnn
dialogue_id utt_no
sw2608      0       fo_o_fw_"_by_bc  fo_o_fw_"_by_bc
            1                    qy               qy
            2                    na               sd
            3                    sd               sd
            4                    ad               sd
            5                    bk               bk
            6                    sd               sd
            7                    sd                x
            8                    sd               sd
            9                     b                b

2 ../../models/AMI-DA-NL_bert_2019-11-20/
2 ../../models/AMI-DA-L_bert_2019-11-20/
8 ../../models/AMI-DA-NL_cnn_2019-11-20/
9 ../../models/AMI-DA-L_cnn_2019-11-20/

                   speaker                                         utt  \
dialogue_id utt_no
IS1001d     0            A                                      Okay .
            1            A           Je croix que c'est dommage de le
            2            A  it will be sad to destroy this prototype .
            3            A             It really looks like a banana .
            4            C                            It is a banana .
            5            A                 It is a banana . <laughter>
            6            C              It is the essence of bananas .
            7            C       I would be confused with this thing .
            8            A
            9            C

                       da_tag   NL_bert    L_bert    NL_cnn     L_cnn
dialogue_id utt_no
IS1001d     0       ami_da_16  ami_da_1  ami_da_9  ami_da_9  ami_da_9
            1        ami_da_3  ami_da_3  ami_da_3  ami_da_4  ami_da_4
            2       ami_da_16  ami_da_4  ami_da_9  ami_da_4  ami_da_4
            3        ami_da_4  ami_da_4  ami_da_9  ami_da_9  ami_da_9
            4       ami_da_14  ami_da_4  ami_da_4  ami_da_4  ami_da_9
            5       ami_da_12  ami_da_4  ami_da_4  ami_da_4  ami_da_9
            6       ami_da_14  ami_da_4  ami_da_9  ami_da_4  ami_da_4
            7       ami_da_15  ami_da_4  ami_da_9  ami_da_9  ami_da_4
            8        ami_da_3  ami_da_3  ami_da_3  ami_da_3  ami_da_3
            9        ami_da_3  ami_da_3  ami_da_3  ami_da_3  ami_da_3

In [23]:
metric_funcs = [
#     lambda x,y: metrics.precision_score(x,y,average='macro'), 
#     lambda x,y: metrics.recall_score(x,y,average='macro'), 
#     lambda x,y: metrics.f1_score(x,y,average='micro'),
    lambda x,y: metrics.precision_score(x,y,average='micro')]
for cond in conditions:
    print(cond)
    for g in ['Forward-Communicative-Function', 'Backwards-Communicative-Function']:
        print(g)
        dfsf = dfs[dfs['da_tag'] == g]
        for mf in metric_funcs:
            print(f"{mf(dfsf['da_tag'],dfsf[cond])*100:.2f}")
    print()

NL_bert
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

L_bert
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

NL_cnn
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

L_cnn
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

In [24]:
for cond in conditions:
    print(cond)
    for g in ['Forward-Communicative-Function', 'Backwards-Communicative-Function']:
        print(g)
        dfaf = dfa[dfa['da_tag'] == g]
        for mf in metric_funcs:
            print(f"{mf(dfaf['da_tag'],dfaf[cond])*100:.2f}")
    print()

NL_bert
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

L_bert
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

NL_cnn
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

L_cnn
Forward-Communicative-Function
0.00
Backwards-Communicative-Function
0.00

In [25]:
report_metrics([dfs,dfa], conditions)

                             SWBD       AMI
NL_bert macro precision  0.437264  0.513033
        macro recall     0.350711  0.447011
        macro f1         0.364835  0.447572
        micro accuracy   0.760045  0.680351
L_bert  macro precision  0.434728  0.489694
        macro recall     0.351546  0.430792
        macro f1         0.367521  0.433668
        micro accuracy   0.766043  0.648691
NL_cnn  macro precision  0.526282  0.492194
        macro recall     0.335863  0.356420
        macro f1         0.369507  0.379989
        micro accuracy   0.739256  0.631760
L_cnn   macro precision  0.488935  0.499911
        macro recall     0.346400  0.371120
        macro f1         0.375904  0.378919
        micro accuracy   0.754047  0.642738